body {
  padding: 0;
  margin: 0; 
}
h2 {
  font-style: italic; 
}

#filterSettings {
	clear: right;
	padding: 2em;
	display: none;
	background-color: #eeffee;
	border-style: solid;
 	border-width: .15em .15em 0 .15em;
  	border-color:#774400;
}
#filter {
	float: right; 
	cursor: pointer; 
}
#textboxes {
	float: right; 
	display: none;
}
#range {
	float: left; 
}
#category {
	float: left;
	clear: both;
}
.content { 
	margin-right:auto; 
	margin-left:auto; 
	margin-bottom: 15%;
	border-style: solid;
	border-width: .25em;
	border-color:#77cc00; 
	padding: 2em 2em 2em 2em; 
	width: 20em; 
}
#myJobs {
  width: 40em;
}

#addEvent { 
	width: 25em; 
	margin-top: 15%; 
}
#calendar {
	width: 44em; 
}

#main {
  margin-top: 15%; 
  margin-right:auto; 
  margin-left:auto; 
  border-style: solid;
  border-width: .25em;
  border-color:#77cc00; 
  padding: 2em 2em 2em 2em; 
  width: 20em; 
}
.textfield {
	float:right; 
}
.dropdown { 
	float:right;
}
.submit {
	text-align:center; 
	margin-top: 5%;
}
.submitButton {
	width:10em; 
	height: 2em; 	
}
.calendar {
	margin-right:10%; 
	margin-left:10%; 
	margin-top: 10%; 
	border-style: solid;
	border-width: 3px;
	border-color:#0077dd; 
	text-align: center; 
}
.navigation {
  list-style-type: none; 
  width: 44.5em; 
  height: 2.35em; 
  margin-left: auto;
  margin-right: auto;  
  margin-top: 15%;
  margin-bottom: 0;
}
.events { 
  clear:both;
  border-style: solid;
  border-width: .15em;
  border-color:#774400;
}
.event a .description { 
  float: right;
  clear: right;
  width: 28em;
}
.event a .date {
  float: right;
  padding-bottom: .5em;
}
.event a {
  display: block; 
  text-decoration: none;
  color: black; 
  background-color: #ffffff;
  border-style: solid; 
  border-width: .1em; 
  border-color: #cccccc; 
  overflow: auto;
  font: 13px arial, sans-serif; 
  padding: 1em;
}
.event a .title {
  font: 15px arial, sans-serif; 
  font-weight:bold;
  float: left;
  clear: right;
}
.event a .time {
  float:left; 
  clear: left;
}
.event a .category {
  float:left; 
  clear: left;
  font-style: italic;
}
.event a:hover {
  background-color:#eeeeee;
  border-color: #774400;
}
.navigation li  {
  width: 7em;
  display: inline;
  float: left;
  padding-left: .35em;
  text-align:center;
}
.navigation li a {
  padding: .65em;
  text-decoration: none;
  color:white;
  display: block; 
  background-color: #77CC00; 
}
.navigation li a:hover {
  background-color: #774400; 

}
.inputItem { 
	clear: left; 
	padding: 1em 0 1em 0;
}
.dropdown { 
	float: right;
	clear: both; 
}
#prevB {
  float:left;
}
#nextB {
  float:right;
}
#prev {
  width: 8em;
  height: 2em; 
}
#next {
  width: 8em;
  height: 2em; 
}
.footer {
  margin-top: 2em;
  /* display:block; */
  text-align: center; 
}
#pageLabel {
  width: 25em; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.category#page {
  margin-right:auto; 
  margin-left:auto; 
  margin-top: 0;
  margin-bottom: 15%;
  border-style: solid;
  border-width: .25em;
  border-color:#77cc00; 
  padding: 2em 2em 2em 2em; 
  width: 22em;
}
#catnav {
  width: 26.5em;
  margin-bottom: 1em;
}
