body {
  padding: 0;
  margin: 0; 
}
h2 {
  font-style: italic; 
  margin-top: -0.5em;
}

#filterSettings {
	clear: right;
	display: none;
	background-color: #eeffee;
	border-style: solid;
 	border-width: .15em .15em 0 .15em;
  	border-color:#774400;
}
#filterButton {
	float: right; 
	cursor: pointer; 
}
#textboxes {
	float: right; 
	display: none;
}
#categorySelect { 
	float: right; 
	display: none; 
}
.filterSetting {
	display: block; 
    width: 38em;
    height: 2em;
	padding: .5em;
}
#submitFilter { 
	float: right; 
}

.content { 
	margin-right:auto; 
	margin-left:auto; 
	margin-bottom: 1%;
	border-style: solid;
	border-width: .25em;
	border-color:#77cc00; 
	padding: 2em 2em 2em 2em; 
	width: 20em; 
}
#myJobs {
  width: 40em;
}

#addEvent { 
	width: 25em; 
	/*margin-top: 15%*/; 
}
#calendar {
	width: 46.5em; 
}

#main {
  /*margin-top: 15%;*/ 
  margin-right:auto; 
  margin-left:auto; 
  border-style: solid;
  border-width: .25em;
  border-color:#77cc00; 
  padding: 2em 2em 2em 2em; 
  width: 20em; 
}
.textfield {
	float:right; 
}
.dropdown { 
	float:right;
}
.submit {
	text-align:center; 
	margin-top: 5%;
}
#submitButton {
	width:10em; 
	height: 2em; 	
}
.calendar {
	margin-right:10%; 
	margin-left:10%; 
	margin-top: 10%; 
	border-style: solid;
	border-width: 3px;
	border-color:#0077dd; 
	text-align: center; 
}
.navigation {
  list-style-type: none; 
  width: 44.5em; 
  height: 2.35em; 
  margin-left: auto;
  margin-right: auto;  
  margin-top: 1%;
  margin-bottom: 0;
}

#home
{
	float: right;
	padding-right: 3.125em;
}
#catnav #home {
	padding-top: 1em;
}

.events { 
  clear:both;
  border-style: solid;
  border-width: .15em;
  border-color:#774400;
}
.event .innerEvent .description { 
  float: right;
  clear: right;
  width: 28em;
}
.event .innerEvent .date {
  float: right;
  padding-bottom: .5em;
}
.event .innerEvent {
  display: block; 
  text-decoration: none;
  color: black; 
  background-color: #ffffff;
  border-style: solid; 
  border-width: .1em; 
  border-color: #cccccc; 
  overflow: auto;
  font: 13px arial, sans-serif; 
  padding: 1em;
  padding-bottom: 1.75em;
}
.event .innerEvent .title {
  font: 15px arial, sans-serif; 
  font-weight:bold;
  float: left;
  clear: right;
}
.event .innerEvent .time {
  float:left; 
  clear: left;
}
.event .innerEvent .category {
  float:left; 
  clear: left;
  font-style: italic;
}
.event .innerEvent .for {
  float: right; 
  clear: right;
  width: 28em;
}
.event .innerEvent .who {
  float: right; 
  clear: right;
  width: 28em;
}
.event .innerEvent .why {
  float: right; 
  clear: right;
  width: 28em;
}
.event .innerEvent:hover {
  background-color:#eeeeee;
  border-color: #774400;
}
.delete {
  border: 0em none #CCCCCC;
  display: inline;
  overflow: hidden;
  padding: .2em;
  float: right;
  color: #ffffff;
  background-color: #774400;
  text-decoration: none;
  margin-right: -4em;
  position:relative;
  bottom: 1.6em;
  right: 4em;
}
.delete:hover {
  background-color:#77CC00;
  cursor: pointer;
}
.delete a {
	color: #FFFFFF;
	text-decoration: none;
}
.delOptions {
  border: 0.1em solid #774400;
  display: inline;
  overflow: hidden;
  padding: .75em;
  float: right;
  background-color: #eeffee;
  text-decoration: none;
  position:relative;
  bottom: 8.5em;
  right: 9em;
  margin-right: -14em;
}
.copy {
  border: 0em none #CCCCCC;
  display: inline;
  overflow: hidden;
  padding: .2em;
  float: right;
  color: #ffffff;
  background-color: #774400;
  text-decoration: none;
  margin-right: -4em;
  position:relative;
  bottom: 1.6em;
  right: 8em;
}
.copy:hover {
  background-color:#77CC00;
  cursor: pointer;
}
.copyURL {
  border: 0.1em solid #774400;
  display: inline;
  overflow: hidden;
  padding: .2em;
  float: right;
  background-color: #eeffee;
  text-decoration: none;
  position:relative;
  bottom: 4em;
  right: 14.5em;
  margin-right: -14em;
}
.copyButton {
  border: 0em none #CCCCCC;
  padding: .2em;
  color: #ffffff;
  background-color: #774400;
  text-decoration: none;
  cursor: pointer;
}
.copyButton:hover {
  background-color: #77CC00;
}
.edit {
  border: 0em none #CCCCCC;
  display: inline;
  overflow: hidden;
  padding: .2em;
  float: right;
  color: #ffffff;
  background-color: #774400;
  text-decoration: none;
  margin-right: -4em;
  position:relative;
  bottom: 1.6em;
  right: 11em;
}
.edit:hover {
  background-color:#77CC00;
  cursor: pointer;
}
.edit a {
  color: #ffffff;
  text-decoration: none;
}

.volunteer {
  border: 0em none #CCCCCC;
  display: inline;
  overflow: hidden;
  padding: .2em;
  float: right;
  color: #ffffff;
  background-color: #774400;
  text-decoration: none;
  margin-right: -5em;
  position:relative;
  bottom: 1.6em;
  right: 5em;
}
.volunteer:hover {
  background-color:#77CC00;
  cursor: pointer;
}
.volunteer a {
	color: #FFFFFF;
	text-decoration: none;
}

.navigation li  {
  width: 7em;
  display: inline;
  float: left;
  padding-left: .35em;
  text-align:center;
}
.navigation li a {
  padding: .65em;
  text-decoration: none;
  color:white;
  display: block; 
  background-color: #77CC00; 
}
.navigation li a:hover {
  background-color: #774400; 

}
.inputItem { 
	clear: left; 
	padding: 1em 0 1em 0;
}
.dropdown { 
	float: right;
	clear: both; 
}
#padding {
	margin-top: .3em;
	margin-bottom: .3em;
}
#prevB {
  float:left;
}
#nextB {
  float:right;
}
#prev {
  width: 8em;
  height: 2em; 
}
#next {
  width: 8em;
  height: 2em; 
}
.footer {
  margin-top: 2em;
  /* display:block; */
  text-align: center; 
}
#pageLabel {
  width: 25em; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.category#page {
  margin-right:auto; 
  margin-left:auto; 
  margin-top: 0;
  margin-bottom: 15%;
  border-style: solid;
  border-width: .25em;
  border-color:#77cc00; 
  padding: 2em 2em 2em 2em; 
  width: 22em;
}
#catnav {
  /*width: 28em;*/
  margin-bottom: 1.1em;
}
#copyButton.hover {
  background-color: #77CC00;
}
