<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>VolunteerCoordinator</servlet-name>
		<servlet-class>com.VolunteerCoordinatorApp.VolunteerCoordinatorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VolunteerCoordinator</servlet-name>
		<url-pattern>/volunteercoordinator</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MakeUser</servlet-name>
		<servlet-class>com.VolunteerCoordinatorApp.MakeUserServlet</servlet-class>
	</servlet>
	 <servlet>
    <servlet-name>Navigation</servlet-name>
    <servlet-class>com.VolunteerCoordinatorApp.JobPageNavigationServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>Navigation</servlet-name>
    <url-pattern>/navigate</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
		<servlet-name>MakeUser</servlet-name>
		<url-pattern>/makeuser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditPrefs</servlet-name>
		<servlet-class>com.VolunteerCoordinatorApp.EditPrefsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditPrefs</servlet-name>
		<url-pattern>/editprefs</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>MakeEvent</servlet-name>
		<servlet-class>com.VolunteerCoordinatorApp.MakeEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MakeEvent</servlet-name>
		<url-pattern>/makeevent</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>MakeCategory</servlet-name>
		<servlet-class>com.VolunteerCoordinatorApp.MakeCategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MakeCategory</servlet-name>
		<url-pattern>/makecategory</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditCategory</servlet-name>
		<servlet-class>com.VolunteerCoordinatorApp.EditCategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditCategory</servlet-name>
		<url-pattern>/editcategory</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddVolunteer</servlet-name>
		<servlet-class>com.VolunteerCoordinatorApp.addVolunteerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddVolunteer</servlet-name>
		<url-pattern>/addvolunteer</url-pattern>
	</servlet-mapping>
    <servlet>
		<servlet-name>UpdateEvent</servlet-name>
		<servlet-class>com.VolunteerCoordinatorApp.UpdateEventServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateEvent</servlet-name>
		<url-pattern>/updateevent</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
